<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12601816445-2j7fr519g0l8543df67pvfhmvqu0c9qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12601816445-2j7fr519g0l8543df67pvfhmvqu0c9qg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>12601816445-p45gqas8ipr8hos5kt5i07cjkr1c6or5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9uFe9hf6nOdQgDaUl6ABF7ZdulB_KpkM</string>
	<key>GCM_SENDER_ID</key>
	<string>12601816445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gooday.main</string>
	<key>PROJECT_ID</key>
	<string>rosy-ratio-433001-g0</string>
	<key>STORAGE_BUCKET</key>
	<string>rosy-ratio-433001-g0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12601816445:ios:99bf81c44b31848aa04814</string>
</dict>
</plist>